h1{
	font-family: Avenir, arial, sans-serif;
	color: gray;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	padding: 2% 2%;
	letter-spacing: 5px
}

body {
    background-color: #FFFFFF;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

h2{ 
	text-align: center; 
	font-family: Avenir, arial, sans-serif;
	color: gray;
	font-weight: normal;
	padding: 2% 2%;
	letter-spacing: 1px;
}

li{
	text-align: center; 
	font-family: Avenir, arial, sans-serif;
	color: gray;
	font-weight: normal;
	letter-spacing: 1px;
}

div {
    width: 150px;
    height: 150px;
    overflow: scroll;
}

a{
	font-family: Avenir, arial, sans-serif;
	color: crimson;
	text-transform: uppercase;
	font-weight: bold;
	padding: 2% 2%;
	letter-spacing: 5px
	display: block;
	text-align: center;
}

#slideshow {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.slide {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
}

button{
	display: block;
    margin-left: auto;
    margin-right: auto;

}

.text{
	text-align: center;
}
